<%= form_with  model: @complain_section do |form| %>
<div class="row g-3" >
<div class="col-auto">
    <%= form.label :section, class: "visually-hidden" %>
    <%= form.text_field :section, class: "form-control", placeholder: "Title", :required => true  %>
  </div>

<div class="col-auto">
    <%= form.submit "Add", class:"btn btn-primary mb-3" %>
  </div>
  </div>
<% end %>