<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @complain_section.section %>
</p>

<%= link_to 'Edit', edit_complain_section_path(@complain_section) %> |
<%= link_to 'Back', complain_sections_path %>
