    <header class="w3-container" style="padding-top:22px">
   <div class="container-fluid px-4">
                        <h1 class="mt-4">Reply &nbsp<i class="fa fa-reply" aria-hidden="true"></i></h1>
                        </div>
  </header>
<div class="card mb-4 text-center">
   <div class="card-body">
                                <div class="fadeIn first">
                      <h5>Name: <%= @complains.yname %></h5><br>
                    </div>


                 <form>
      <div class="form-group has-icon text-center">
    <p><strong>Title</strong></p>
    <p><%= @complains.section %></p>
  </div>
    <div class="form-group has-icon">
  <p><strong>Details</strong></p>
  <p><%= @complains.body %></p>

<%= render "form", complain: @complain %>
</div>
<a class="underlineHover" href="/complain">Back</a>
  </div>  </div>
     