<header class="w3-container" style="padding-top:22px">
   
 <div class="container-fluid px-4">
                        <h1 class="mt-4">Add Epidemic Data &nbsp<i class="fa fa-plus-square" aria-hidden="true"></i></h1></a>
                        <div class="row">
   
  </header>
  <div class="card mb-4">
 <div class="card-body">

<%= render 'form' %>
<%= link_to "Back", dataepidemics_path %>
  </div>
                    </div>