<header class="w3-container" style="padding-top:22px">
   
   
  </header>
  <div class="card mb-4">
 <div class="card-body">
<h5>ชื่อโรคภาษาไทย: <%= @pests.name_th %>  </h5>
<h5>ภาษาอังกฤษ: <%= @pests.name_en %>  </h5>
<p><%= @pests.body %>  </p>

<%= link_to "Back", showdatas_index2_path %>
</div>
                    </div>

