<header class="w3-container" style="padding-top:22px">
   
   
  </header>
  <div class="card mb-4">
 <div class="card-body">
<h5>ชื่อโรคภาษาไทย: <%= @epidemics.name_th%>  </h5>
<h5>ภาษาอังกฤษ: <%= @epidemics.name_en%>  </h5>
<p><%= @epidemics.body%>  </p>

<%= link_to "Back", showdatas_index_path %>
</div>
                    </div>

