// Place all the styles related to the ComplainSections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a {
    text-decoration: none;
}
.link {
    text-decoration: none;
}
a {
    text-decoration: none !important;
}
.link {
    text-decoration: none !important;
}